<html>
  <head>
    <title>BMS View</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!--<meta http-equiv="refresh" content="1">-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logo_lion_64.png') }}"/>
    <script src="{{ url_for('static', filename='canvasgauge.js') }}"></script>
    <script src="{{ url_for('static', filename='func.js') }}"></script>
    <script src="{{ url_for('static', filename='user_functions.js') }}"></script>
  </head>

<body onLoad="lion();">

<div id="topbarcontainer" >
      <div class="menu-top-strip">
      <ul>
          <li><a onClick="loadView('view_modules')" href="#">overview</a></li>
          <li><a onClick="loadView('view_gauge')" href="#">gauges</a></li>
          <li><a onClick="loadView('view_status')" href="#">status</a></li>
          <li><a onClick="loadView('view_charts')" href="#">charts</a></li>
          <li><a onClick="loadView('view_settings')" href="#">settings</a></li>
          <li><a href="#"  title="{{datalayer.linux}}" onClick="confirm('You really want to shut down the server?\n\n{{datalayer.linux}}') ? lionSend('poweroff',null) : false">power off</a></li>
      </ul>
    </div>
    
    <div id="topbar"> 
      Refresh: <input size="10" type="text" id="refreshms" value="1000">ms 
      &nbsp;&nbsp; PEC <span  id="cpuPECpercent"></span>%
      &nbsp;&nbsp;&nbsp; uptime: <span id="uptime"></span>
      <div id="refreshblinkwrapper"><div id="refreshblink"></div></div>
    </div>
    
    <div class="stack-top-strip">
      <ul>
          <li class="barbold"><span id="stackvolt"></span>V</li>
          <li><span id="stacksoc"></span></li>
          <li class="barbold"><span id="stackpower"></span>kW</li>
          <li><span id="stackI"></span>A</li>
      </ul>
      <div style="clear:left;"></div>
      <ul>
          <li>Vmin:<span id="stackmincell"></span></li>
          <li>Vmax:<span id="stackmaxcell"></span></li>
          <li>Tmin:<span id="stackmintemp"></span></li>
          <li>Tmax:<span id="stackmaxtemp"></span></li>
      </ul>
    </div>

</div>
<span id="current-view">view_status</span>
<div id="alarm_stackmaxcell"></div>

<div id="container">


{% include "view_status.html" %}


</div>


</body>

</html>
