{% include "data_only_topbar.html" %}{% for module in datalayer.Modules %}{% set outer_index = loop.index0 %}
vref{{outer_index}}={{(module.vref/10000)|round(4)}}
tpcb{{outer_index}}={{((module.tpcb-27315)/100)}}
sum2{{outer_index}}={{ '%1.2f' | format((module.vmod2/1000)|round(3))}}{% for cell in module.Cells %}
vm{{outer_index}}c{{loop.index0}}={{ '%1.4f' | format( (cell.volt/10000)|round(4) )}}
tm{{outer_index}}c{{loop.index0}}={{((cell.temp-27315)/100)}}
bm{{outer_index}}c{{loop.index0}}={{cell.bal}}{% endfor %}{% endfor %}
